In [ ]:
#Q1
s1 = "Sanskar"
l1 = [2, 4, 8.56, True]
f1 = 5.68
t1 = (45, 9.78, "Sam", False)

In [5]:
#Q2
var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.
type(var1)

str

In [6]:
type(var2)

str

In [7]:
type(var3)

list

In [8]:
type(var4)

float

In [9]:
a = 10
b = 3
a/b #Division

3.3333333333333335

In [10]:
a%b #Remainder

1

In [11]:
a//b #Floor of division

3

In [12]:
a**b #Power

1000

In [15]:
list1 = [5, 78, 6.987, "Shyam", [6,8,9], (78,"Krishna",9.67), 'i', 90, 100.89, "Hello"]
for i in  list1:
    print(i, type(i))

5 <class 'int'>
78 <class 'int'>
6.987 <class 'float'>
Shyam <class 'str'>
[6, 8, 9] <class 'list'>
(78, 'Krishna', 9.67) <class 'tuple'>
i <class 'str'>
90 <class 'int'>
100.89 <class 'float'>
Hello <class 'str'>

In [30]:
A = int(input("Enter the value of A"))
B = int(input("Enter the value of B"))
count = 0

if ((A < B) or (A%B != 0)) and (A != 0):
    print("A is not divisible by B")
else:
    while A > 0:
        A -= B
        count += 1
    else:
        print(f"A is divisible by B {count} times")

Enter the value of A 10
Enter the value of B 5

A is divisible by B 2 times

In [37]:
list2 = list(range(25))
list2
for i in list2:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [42]:
list3 = [1,"yash",3.3,'a',list1];
s2="sanskar"
list3[0]=2 #mutable
s2[0]="y" #immutable

TypeError: 'str' object does not support item assignment